<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.br.OMT.Filters.AuthenFilter</filter-class>
        <init-param>
            <param-name>role</param-name>
            <param-value>123</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/discente/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/campus/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/reitoria/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>EmpresaServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.EmpresaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscenteServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.DiscenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventoServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.EventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjetoServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.ProjetoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormacaoServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.FormacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursosEspecializantesServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.CursosEspecializantesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmistradoresServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.AdmistradoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampusServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.CampusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrabalhoServlet</servlet-name>
        <servlet-class>com.br.OMT.Servlets.TrabalhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>com.br.OMT.Servlets.pdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresaServlet</servlet-name>
        <url-pattern>/EmpresaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscenteServlet</servlet-name>
        <url-pattern>/DiscenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjetoServlet</servlet-name>
        <url-pattern>/ProjetoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormacaoServlet</servlet-name>
        <url-pattern>/FormacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursosEspecializantesServlet</servlet-name>
        <url-pattern>/CursosEspecializantesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmistradoresServlet</servlet-name>
        <url-pattern>/AdmistradoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampusServlet</servlet-name>
        <url-pattern>/CampusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrabalhoServlet</servlet-name>
        <url-pattern>/TrabalhoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventoServlet</servlet-name>
        <url-pattern>/EventoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/erro404.jsp</location>
    </error-page>
</web-app>
