header{
    min-height: 60px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #19882c;
    z-index: 2;
}

nav{
    background: #0a5517;
}

#titulo{
    font-size: 32px;
    color: #FFFFFF;
    font-family:Cambria;
    text-align: center;
}