/*configurações gerais*/
header{
    min-height: 60px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
    background: #19882c;
    z-index: 2;
}
form{
    text-align: center;
}
h4{
    text-align: center;
    font-size: 24px;
    font-style: initial;
    
}
titulo{
    font-size: 32px;
    color: #FFFFFF;
    font-family:Cambria;
    text-align: center;
}

/*configurações específicas*/
nav.cabecalhoHome{
    background: #0a5517;
    font-size: 12px;
}

figure.quadroLogin{
    background: blanchedalmond;
    border-style: solid;
    border-radius: 20px;
    border-color: #000;

}
