/*configurações gerais*/
header{
    min-height: 60px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: transparent;
    background: white;
    z-index: 2;
}

h4{
    text-align: center;
    font-size: 24px;
    font-style: initial;

}
titulo{
    background-color: #19882c;
    font-size: 32px;
    color: #FFFFFF;
    font-family:Cambria;
    text-align: center;
}

nav img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

embed{
    align-content: space-around;
    height: max-content;
    width: max-content;
}



/*configurações específicas*/
#navUsers{
    display: block;
    border-color: transparent;
    background-color: transparent;
    border-style: none;
    appearance: menu;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0;
}

#cabecalhoHome{
    background: transparent;
    border: transparent;
}

#imgUser{
    border-radius: 40px;
    height: 120px;
    width: 120px;
    border-color: black;
}

.tabs{
    height: auto;
    white-space: normal;
    background-color: #ffffff;
}
.tab{
    display: block;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    background-color: transparent;
}
.tab-content{
    height: 200px;
    width: 100%;
    background: #fcfcfc;
    border:1px solid #f0f0f0;
}
.indicator{
    display: none;
}
.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #aea;
    outline: none;
}

.tabs .tab:hover {
    background-color:#cfc;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#aea;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#19882c;
} /*Color of underline*/

#tabsLogin ul{
    box-shadow: 1px 1px 5px gray;
}

@media (min-width: 993px) {
    #loginForms{
        margin-top: -7px;
    }
}