/*configurações gerais*/
header{
    min-height: 60px;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: transparent;
    background: white;
    z-index: 2;
}

h4{
    text-align: center;
    font-size: 24px;
    font-style: initial;

}
titulo{
    background-color: #19882c;
    font-size: 32px;
    color: #FFFFFF;
    font-family:Cambria;
    text-align: center;
}

li img{
    height: 40px;
    width: 40px;
    
}



/*configurações específicas*/
#cabecalhoHome{
    background: transparent;
    border: transparent;
}

#imgUser{
    border-radius: 40px;
    height: 90px;
    width: 90px;
    border-color: black;
}

.tabs{
    height: auto;
    white-space: normal;
    background-color: #dadada;
}
.tab{
    display: block;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    background-color: transparent;
        
}
.tab-content{
    height: 200px;
    width: 100%;
    background: #fcfcfc;
    border:1px solid #f0f0f0;
}
.indicator{
    display: none;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #aea;
    outline: none;
}

.tabs .tab a:hover {
    background-color:#cfc;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#aea;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#19882c;
} /*Color of underline*/
