/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/06/2018, 11:05:10
    Author     : Gabriel San Martin
*/

*{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
}

header{
    width: 100%;
    background-color: #19982c;
    background-image: none;
    /*padding-bottom: 100px;*/
    border-bottom: 5px solid #d4dbce;
}

footer{
    width: 100%;
    background-color: #19882c;
    background-image: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    border-top: 5px solid #d4dbce;
}

.row-fluid {
    width: 100%;
}

#omt-colophon {
    font-size: 90%;
    text-align: center;
    margin-bottom: 1em;
}

#omt-colophon-wrapper{
    display: inline-block;
    margin: 0 20px;
}

footer .container{
    padding: 10px;
}

#visual-omt-wrapper {
    background-color: #e7efd1;
}

#omt-header-wrapper{
    margin: 0 10px;
}

#omt-header{
    position: relative;
    z-index: 2;
}

#image-wrapper{
    margin: 0 20px;
}

.container-fluid{
    padding-right: 20px;
    padding-left: 20px;
}

#omt-card{
    margin: 20px;
    padding: 0;
    /*margin-top: -115px;*/
    background-color: white;
    margin-bottom: 20px;
    background-color: #fdfdfd;
    padding: 5px 10px 5px 5px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

#omt-logo{
    display: inline-block;
    margin: 1.375em 0;
}
