/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/07/2018, 22:06:37
    Author     : user
*/
body {
    background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

.nav-tabs{
    padding: 10px;
}

.nav-tabs .nav-link{
    border:none;
}

.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(0,0,0,.2);
    border: none;
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.menu-usuario img{
    height: 30px;
    padding: 0px 5px;
}

.foto-curriculo{
    max-height: 150px;
    max-width: 100%;   
}

.card-img-top{
    max-height: 200px !important;
}

@media print{
    a.btn,*.btn,footer{
        display: none;
    }
}

button:focus { 
    outline: 0; 
} 
 
.file-btn { 
    position: relative; 
    cursor: pointer;
} 
.file-btn input[type="file"] { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
}
.crop{display:none} 
body {
  margin:0;
  padding:0;  
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:100vh;
}

main {
  flex:1 0 auto;
}

.page-footer {
  background:crimson;
}