/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/07/2018, 22:06:37
    Author     : user
*/

.nav-tabs{
    padding: 10px;
}

.nav-tabs .nav-link{
    border:none;
}

.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(0,0,0,.2);
    border: none;
    color: #fff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}

.menu-usuario img{
    height: 30px;
    padding: 0px 5px;
}

.foto-curriculo{
    max-height: 150px;
    max-width: 100%;   
}

.card-img-top{
    max-height: 200px !important;
}

@media print{
    a.btn,*.btn,footer{
        display: none;
    }
}

button, 
a.btn { 
    background-color: #189094; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 3px; 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    font-size: 16px; 
    cursor: pointer; 
    text-decoration: none; 
    text-shadow: none; 
} 
button:focus { 
    outline: 0; 
} 
 
.file-btn { 
    position: relative; 
} 
.file-btn input[type="file"] { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
}
.crop{display:none} 